.center{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
}
