* {
    box-sizing: border-box;
}

.headerContainer{
    color: white;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 255 , .8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 20;
}

.menuBurgerContainer {
    display: flex;
    align-items: center;
}

.burgerButton {
    cursor: pointer;
    &:hover {
        color: gray;
    }
}

.logo {
    margin: 0px 0px 0px 25px;
    padding: 0;
    width: max-content;
}
.link{
    color: white;
    text-decoration: none;
    &:visited {
        color: white;
    }
}
.cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

