.container {
    margin: 70px 20px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    padding: 10px;
    

}

.mainSlide { 
    width: 100%;
    &Pict{
        width: 100%;
    }
}

.miniSlidesContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    .miniSlide {
        width: 20%;
        &Pict{
            width: 100%
        }
    }
}

.active {
    border: 1px solid blue;
}