.itemContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    background-color: lightskyblue;
    margin-bottom: 15px;
}
.itemHeader {
    color:white;
    font-size: 25px;
    font-weight: bold;
    align-self: center;
    flex-shrink: 1;
}
.itemInformation{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.itemImg {
    height: 100%;
    width: 25%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.descriptionContainer{ 
    display: flex;
    align-items: flex-start;
    
    flex-grow: 1;
}
.itemDescription{
    align-self: center;
}
.cartInput{
    width: 40px
}